<section class="pt-5">
  <div class="container">
    <div class="text-center welcome">
        <h1 style="color: #3778c2;" class="mb-4">EASY BUSINESS MANAGEMENT</h1>
        <p>Easy Business Management is a SaaS company that offers web-based solutions to manage various aspects of a business, streamlining operations and saving time.</p>
    </div>
    <div class="w-100 d-flex flex-column align-items-center" style="margin-top: 5em;">
      <%= link_to "LOG IN", new_user_session_path, class:"btn btn-primary mb-3 py-2 rounded-0", style:"width: 100%; max-width: 450px" %>
      <%= link_to "SIGN UP", new_user_registration_path ,class:"btn text-muted py-2 rounded-0", style:"width: 100%; max-width: 450px" %>
    </div>
  </div>
</section>
