<section class="pt-5">
  <div class="container">
    <div class="text-center welcome">
        <h1>EASY BUSINESS MANAGEMENT</h1>
        <p>Easy Business Management is a SaaS (Software as a Service) company that provides web-based solutions for managing various aspects of a business. Our platform allows businesses to easily store and manage information about their clients, products or services, invoices and payments, suppliers, employees, financial reports, projects, and inventory levels. With Easy Business Management, businesses can streamline their operations, save time, and focus on growth.</p>
    </div>
    <div class="w-100 d-flex flex-column align-items-center" style="margin-top: 5em;">
      <%= link_to "LOG IN", new_user_session_path, class:"btn btn-primary mb-3 py-2 rounded-0", style:"width: 100%" %>
      <%= link_to "SIGN UP", new_user_registration_path ,class:"btn text-muted py-2 rounded-0", style:"width: 100%" %>
    </div>
  </div>
</section>
