<h4 class="bg-primary text-center text-white pb-2 mb-0">Categories</h4>
<%# <div class="card d-flex justify-content-between align-items-center p-3 rounded-0"> %>
  <%# <%= link_to "Income : #{@total_income}", new_income_path, class: "text-secondary", style: "text-decoration: none;" %> 
<%# </div> %>
<section>
  <div class="container mb-5 pb-4">
    <%= render partial: "category", collection: @categories %>
  </div>
  <div class="scan rounded-0 w-100 position-fixed bottom-0">
  <%= link_to "ADD NEW CATEGORY", new_category_path, class:"rounded-0 btn text-white scan-button" %>
  </div>
</section>